@use 'variables' as *;
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

* {
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header header" "nav main" "footer footer";
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0; }

header {
  grid-area: header;
  background-color: #08294d;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #08294d;
  padding-top: 110px;
  width: 100%; }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    align-items: center; }
  nav a, nav .subnavbtn {
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left; }
    nav a:hover, nav .subnavbtn:hover {
      color: #6c757d; }
  nav .subnav {
    position: relative; }
    nav .subnav .subnav-content {
      display: none;
      position: absolute;
      background-color: #444;
      top: 0;
      left: 100%;
      min-width: 150px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 100; }
      nav .subnav .subnav-content a {
        display: block;
        color: white;
        padding: 10px;
        text-align: left;
        background-color: #08294d; }
        nav .subnav .subnav-content a:hover {
          color: #6c757d; }
    nav .subnav:hover .subnav-content {
      display: block; }

main {
  grid-area: main;
  padding: 20px;
  border-right: #08294d solid 20px; }

footer {
  grid-area: footer;
  background-color: #08294d;
  text-align: center;
  color: white;
  padding: 10px 0;
  width: 100%; }

@media (max-width: 768px) {
  header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; }
  nav {
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 50;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 10px; }
    nav ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 15px;
      align-items: center; }
    nav a, nav .subnavbtn {
      color: white;
      text-decoration: none;
      padding: 20px 15px;
      font-size: 18px;
      background: none;
      border: none;
      cursor: pointer;
      width: 100%;
      text-align: left;
      color: white; }
      nav a:hover, nav .subnavbtn:hover {
        color: #6c757d; }
    nav .subnav {
      position: relative; }
      nav .subnav .subnav-content {
        display: none;
        position: absolute;
        background-color: #08294d;
        top: 100%;
        left: 0;
        min-width: 150px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 100; }
        nav .subnav .subnav-content a {
          display: block;
          padding: 10px;
          text-align: left;
          color: white; }
          nav .subnav .subnav-content a:hover {
            color: #6c757d; }
      nav .subnav:hover .subnav-content {
        display: block; }
  main {
    margin-top: 80px;
    border-right: none; }
  body {
    padding-top: 50px; } }

.bg-image {
  background-image: url("/public/images/team.png");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-text {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center; }
